/*This is a test*/
body {

  background: eggShell;

}

/* Using a class-cased styling scheme for names */

main {

  display: flex;
  justify-content: center;

}

td {

    text-align: center;
}

#canvas {

  display: inline-block;
  width: 70vh;
  /*height: 50vh;*/
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-right: 5vh;
  padding-left: 5vh;
  font-size: 1.3em;
  font-family: monospace;

}

a {
  color: lightGreen;
}

a:visited {
  color: purple;
}


#my-water-map {

  width: 65vh;

}


#center-box {

  display: inline-block;
  font-size:3em;

}

body, html {
    height: 100%;
}

.parallax {
    /* The image used */
    background-image: url("https://docs.google.com/drawings/d/1TXMksIfiaxbtiPkvCPQaEVWIDZIwUVgFTvascAluyZE/pub?w=1473&amp;h=1405");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: auto;
}


#right-box, #upper-box, #lower-box, #left-box {

  font-size: 1em;
  display: none;

}

#left-box p {

  font-size: 1em;
  text-align: justify;
  text-justify: inter-word;

}

#lower-box p {

  text-align: left;

}

#right-box {

  height: 50vh;

}

.fa {

  color: #42f495;
  text-shadow: 3px 2px 2px lightGrey;

}

.fa.fa-chevron-up {

  display: flex;
  justify-content: center;
  font-size: 5em;

}

.fa.fa-chevron-down {

  position: relative;
  display: flex;
  justify-content: center;
  font-size: 5em;

}

.fa.fa-chevron-left {

  float:left;
  justify-content: center;
  font-size: 5em;

}

.fa.fa-chevron-right {

  display: inline-block;;
  justify-content: center;
  font-size: 5em;

}

img#top {

  position: absolute;
  z-index: -1;
  opacity: 0.3;
  left: 0%;
  top: 0%;


}

img#bottom {

  position: absolute;
  z-index: -2;
  opacity: 0.3;
  left: 0%;
  top: 70%;

}

img#my-self-portrait {

  opacity: 5.0;
  width: 20vh;

}

img.thumbnail {

  width: 75%;

}

.project {

  font-size: 0.7em;
  margin-left: 0;
  /*padding: 10px;
  text-align: justify;*/

}

#my-projects {

  width: 100%;

}


/* Adding media link when shrinking page */

@media screen and (max-width: 600px) {

  body {

    background-color: grey;
    width: 95%;
    margin: 0;
    padding: 0;

  }

  #canvas {
    width: 50%;
  }

  html p {

    color: white;
    font-size: 1.1em;

  }

  @media only screen
  and (min-device-width : 375px)
  and (max-device-width : 667px) {

    #canvas {
      width: 50%;
    }
   }
