body {
  background: url('https://s3-us-west-2.amazonaws.com/omar-one/omarcodex-cover-plain-1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

body a {
  color: #009ef9;
  text-shadow: 2px 2px 9px white;
}
